<h3>This is _Role30</h3>

@code {
  [Parameter]
  public required Home.OnSubmitForRoleDelegate OnSubmitForRole { get; set; }

  [Parameter]
  public EventCallback<Home.OnSubmitForRoleDelegate> OnSubmitForRoleChanged { get; set; }

  protected override void OnInitialized()
  {
    OnSubmitForRole = (dbContext) =>
    {
      // Logic specific to Role 30 -- e.g. save to database

      return "A third result from role 30";
    };

    OnSubmitForRoleChanged.InvokeAsync(OnSubmitForRole);
  }
}
